@mixin text-box-background-color {
  background-color: #8096D1;
  opacity: .85;
}

@mixin card-box-background-color{
  background-color: #394c7b91;
}

@mixin font-famiy-noFake{
  font-family: 'font_noFake';
}

@mixin nav-footer-background-color{
  background-color: #131c34;
}

@mixin nav-footer-text-color{
  transition: 200ms;
  color: #10EFFD;
}

@mixin history-title-font {
  color: #10effd;
  filter: drop-shadow(0 2px 5px #0cbfccb8);
  font-family: font_noFake;
}