@import '../utils/mixins.scss';

.nav{
    background-color: #131c34;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 15%;
    z-index: 2;
    animation: comeDown 800ms ease-in-out forwards;
}

.nav__a{
    font-family: 'font_noFake';
    cursor: pointer;
    transition: 200ms;
    color: #10EFFD;
    text-decoration: none;
}

.nav__a:hover{
    transform: scale(1.1);
    color: #ffffff;
    filter: drop-shadow(0px 0px 5px #10edfdb8);
}

.nav__img img{
    cursor: pointer;
    transition: 200ms;
}

.nav__img:hover{
    transform: scale(1.05);
    filter:grayscale(1) brightness(2) drop-shadow(0px 0px 5px #10edfdb8);
}

nav{
    @include nav-footer-background-color;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include nav-footer-text-color;
    height: 15%;
    z-index: 2;
}

