@import '../utils/mixins.scss';

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card form input[type=text]{
  width: 40%;
  height: 2em;
  @include font-famiy-noFake;
  @include text-box-background-color;
  border-radius: 5px;
  border: none;
  padding-inline: 1em;
  padding-block: 0.3em;
  transition: 800ms;
  color: white;
    &:focus{
      transform: scale(1.1);
    }
}

.card form textarea{
    width: 40%;
    height: 4em;
    @include font-famiy-noFake;
    @include text-box-background-color;
    color: white;
    border-radius: 5px;
    border: none;
    padding-inline: 1em;
    padding-block: 1em;
    transition: 800ms;
    &:focus{
      transform: scale(1.1);
    }
  }
  

nav{
    @include nav-footer-background-color;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include nav-footer-text-color;
    height: 15%;
    z-index: 2;
}

footer{
  @include nav-footer-background-color;
  @include font-famiy-noFake;
  @include nav-footer-text-color;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  position: relative;

  & p{
    padding-inline: 1em;
    flex: 1 1 40%;
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

  .dateSelector {
  color: white;
  @include font-famiy-noFake;
  width: 40%;
  height: 2em;
  border: none;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  transition: 800ms;

  @include text-box-background-color;

  &:focus{
      transform: scale(1.1);
    }

   &::-webkit-calendar-picker-indicator {
    filter: invert(1); // deixa o ícone branco
    cursor: pointer;
  }
  
  &_button {
    margin: 20px 0 20px;
    @include text-box-background-color;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px #6B84C4;

    &:hover {
      background-color: #9AAEE0; 
      box-shadow: 0 0 12px #3e5ca8, 0 0 12px #10effd;
      transform: scale(1.05);
    }

  }
}


.floating-button.scrollspy button{
    @include text-box-background-color;
    clip-path: circle();
    border: none;
    padding: 1em;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    transition: 800ms;
    z-index: 11;


    & img{
      object-fit: contain;
      width: 20%;
      filter: invert(1);
    }

    &:hover{
      transform: scale(1.1);
    }

}

.card .sides>.side_input{
    width: 70%;
    @include card-box-background-color;
    border-radius: 10px;
    margin-left: 1em;
}

.card .sides>.side_history{
    width: 30%;
    @include card-box-background-color;
    border-radius: 10px;
    margin-inline: 1em;
    display: flex;
    justify-content: center;
}


.resultado_place{
  width: 100%;
  min-height: 8em;
  margin-bottom: 1em;
  display: none;
  justify-content: center;
  align-items: center;

  & .resultado{
    @include card-box-background-color;
    margin-inline: 1em;
    width: calc(100% - 2em);
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;

  & .disclaimer{
    background-color: #10edfd29;
    opacity: 0;
    width: 60%;
    color: white;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
    @include font-famiy-noFake;
    animation: grow 400ms 400ms forwards ease-in-out;

    & a{
      color: #9fa8fd;
      transition: 800ms;

      &:hover{
        color: #fff;
      }
    }
  }

  & .mrRobot{
    width: 200px;
    height: 200px;
    clip-path: circle();
    border-radius: 100%;
    background-color: rgba(44, 144, 44, 0.905);
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: -2em;
    border: 1em solid rgba(255, 255, 255, 0.136);
    z-index: 1;
    animation: grow 400ms forwards ease-in-out;

    & img{
      width: 80%;
      z-index: 2;
    }
  }

  & .circle_progression {
  --size: 60px;       /* tamanho do círculo */
  --thickness: 8px;   /* espessura da barra */
  --progress: 0.60;    /* de 0 a 1 */

  margin-block: 2em;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: conic-gradient(
    #748AC2 calc(var(--progress) * 360deg),
    #e5e5e500 0deg
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #4b5cfb;
  position: relative;
  animation: spin_around 2s infinite ease-in-out;

  &::before{
    content: "";
  position: absolute;
  width: calc(var(--size) - var(--thickness) * 2);
  height: calc(var(--size) - var(--thickness) * 2);
  background: #3d5287;          /* cor do fundo */
  border-radius: 50%;
  }
}

  }


  & .resposta{
    width: 40%;
    height: 6em;
    background-color: rgb(44, 144, 44);
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    border-radius: 10px;
    border: 1em solid rgba(255, 255, 255, 0.136);
    z-index: 2;
    animation: grow 400ms forwards ease-in-out;

    & h2{
      color: #fff;
      filter: drop-shadow(0px 0px 10px #ffffff44)
    }


    & .icon_position{
      width: 80px;
      height: 80px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      & img{
        position: absolute;
        width: 50%;
      mix-blend-mode: color-dodge;
      filter: invert(1);
    }
    }

    
    
  }
}

.sobre_place{
  width: 100%;
  min-height: 8em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-block: 0;

  & .sobre{
    @include card-box-background-color;
    margin-inline: 1em;
    padding: 2em;
    margin-bottom: 1em;
    width: calc(100% - 2em);
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;

  & .sobre_flex{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1em;
    @include font-famiy-noFake;
    color: #fff;
    flex-wrap: wrap;


    & .line-break {
  flex-basis: 100%;
  height: 0; /* não ocupa altura */
}
  }
  }
}

#inicio{
  position: absolute;
  top: 0;
}

.contato_place{
  width: 100%;
  min-height: 8em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-block: 0;

  & .contato{
    @include card-box-background-color;
    margin-inline: 1em;
    padding: 2em;
    margin-bottom: 1em;
    width: calc(100% - 2em);
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .contato_flex{
      display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1em;
    @include font-famiy-noFake;
    color: #fff;
    flex-wrap: wrap;

   .sobre-item{
    cursor: pointer;
   }
  }
  }
}

.sobre-item{
      padding: 1em;
      flex: 1 1 100%;
      max-width: 100%;
      display: flex;
      flex-basis: 40%;
      justify-content: flex-start;
      align-items: center;
      border-radius: 10px;
      border: 2px solid #fff;
      transition: 800ms;
      cursor: default;
      z-index: 1;

      &:hover{
      transform: scale(1.05);
      @include text-box-background-color;
      box-shadow: 0px 0px 10px #ffffff77;
      z-index: 2;
      
      & .sobre-item-text{
        & a{
          transition: 800ms;
          color: #3641a8;

          &:hover{
            color: #ffffff;
          }
        }
      }
    }

      & .sobre-item-text{
        margin-inline: 2em;


        & a{
          color: #9fa8fd;
        }
      }

      & p{
        color: #ffffffbb;
      }



      & img{
        width: 15%;
        mix-blend-mode: color-dodge;
      filter: invert(1);
      }
    }