@import '../utils/mixins.scss';

.card__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__form-input:focus{
    outline: none;
    filter: drop-shadow(0px 0px 5px #10edfd7f);
}

.card__form-input[type=text]::placeholder{
    color: rgba(255, 255, 255, 0.73);
    opacity: 1;
}

.card__form-textarea:focus{
    outline: none;
    filter: drop-shadow(0px 0px 5px #10edfd7f);
}

.card__form-textarea::placeholder{
    color: rgba(255, 255, 255, 0.73);
    opacity: 1;
}

.card__form-input[type=text]{
  width: 40%;
  height: 2em;
  @include font-famiy-noFake;
  @include text-box-background-color;
  border-radius: 5px;
  border: none;
  padding-inline: 1em;
  padding-block: 0.3em;
  transition: 800ms;
  color: white;
    &:focus{
      transform: scale(1.04);
    }
}

.card__form-textarea{
    width: 40%;
    max-width: 40%;
    height: 4em;
    @include font-famiy-noFake;
    @include text-box-background-color;
    color: white;
    border-radius: 5px;
    border: none;
    padding-inline: 1em;
    padding-block: 1em;
    transition: 800ms;
    
    &:focus{
      transform: scale(1.04);
    }
  }
  
  .dateSelector {
  color: white;
  @include font-famiy-noFake;
  width: 40%;
  height: 2em;
  border: none;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  transition: 800ms;

  @include text-box-background-color;

  &:focus{
      transform: scale(1.04);
    }

   &::-webkit-calendar-picker-indicator {
    filter: invert(1); // deixa o ícone branco
    cursor: pointer;
  }
  
  &_button {
    margin: 20px 0 20px;
    @include text-box-background-color;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px #6B84C4;

    &:hover {
      background-color: #9AAEE0; 
      box-shadow: 0 0 12px #3e5ca8, 0 0 12px #10effd;
      transform: scale(1.04);
    }

  }
}
